a:link{
    text-decoration: none;
    border-style: solid;
    border-color: #B0C7D8;
    background-color: white;
    color: #877160;

}
a:visited{
    border-style: solid;
    border-color: #B0C7D8;
    background-color: white;
    color: #877160;
    text-decoration: none;
}

a:hover{
    border-color:#B0C7D8;
    background-color: #607788;
    color: white;
    text-decoration: none;
}

li{
    list-style-type: none;
    display: inline-block;

}
